/*CSS is ordered from top to bottom of page, grouped by parent + children ex. Flexbox 1 > Item 1 > Item 1 Child > Item 2 > Flexbox 2 > etc*/


/*begin prerequisits for page*/

@font-face {
    font-family: headertext;
    src: url(./requiredfiles/orbitron.medium.otf);
}

@font-face {
    font-family: normaltext;
    src: url(./requiredfiles/exo-2-0.light.otf);
}

@font-face {
    font-family: subtext;
    src: url(./requiredfiles/exo-2-0.extra-light.otf);
}

html, body{
    margin:0;
    height: 100%;
}

#roboticstop{
    position:fixed;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

/*begin header*/
.header{
    display:flex;
    justify-content: space-between;
    align-content: center;
    background-color: #000;
    max-height: 60px;
    width: 100%;
    font-family: headertext;
    z-index: 1;
    position: absolute;
    top:0;
}

ul{
    display:flex;
    gap:10px;
    list-style-type: none;
    margin: 16px;
    align-items: center;
}

li {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.spacericon{
    max-height: 50px;
    max-width: 50px;
}

#roboticstop{
    position:fixed;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

/*begin flexbox 1*/
.fb1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:60px;
    margin-top: 5%;
    background-color: rgba(0,0,0,0.0);
}

.fb1c{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    max-height: 500px;
    background-color: rgba(219,219,219,0.8);
    border-radius:8px;
    flex:1;
    margin-top: 50px;
    padding:6px;
}

.hero-text{
    font-size: 48px;
    font-weight: bolder;
    font-family: headertext;
}

.sub-hero{
    font-size: 18px;
    font-family: normaltext;
}

.button1{
    background-color: #5c5c5c;
    color: #fff;
    text-align:center;
    text-decoration: none;
    font-size:12px;
    max-width: 150px;
    min-height:40px;
    border-radius:6px;
    margin: 8px;
}

.fb1image{
    width: auto;
    max-height: 500px;
    padding:50px;
    opacity: .85;
}

/*begin flexbox 2*/
.fb2 {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-height:600px;
    background-color:rgba(0,0,0,0.85);
}

.spacer{
    width: 142px;
    height: 12px;
    margin:1%;
}

.fb2title{
    color:#dbdbdb;
    font-size: x-large;
    font-family: headertext;
    padding:30px;
}

.fb2c{
    display:flex;
    flex-direction:row;
    gap:100px;
}

.item {
    display:flex;
    flex-direction:column;
    max-width: 152px;
    border-radius:2px; 
}

.item-title{
    font-family:headertext;
    color:#dbdbdb;
    font-size:large;
    text-align: center;
    padding:14px;
    opacity: 100%;
}

.grow {
    transition: all .2s ease-in-out;
    opacity: 0.8;
}

.grow:hover{
    transform: scale(1.15);
    opacity: 1;
}

.item-text{
    text-align: center;
    color:#fff;
    font-family: subtext;
}

/*begin flexbox 3*/
.fb3{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   min-height:500px;
   background-color: rgba(219,219,219,0.8);
   gap:80px;
}

.fb3spacer{
    width: 142px;
    height: 12px;
    background:none;
    align-self: center;
    padding:18px;
}

.fb3c{
    display:flex;
    flex-direction: row;
    align-self: center;
    gap:60px;
    margin-bottom: 24px;
}

.quote1{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-self: center;
}

.sub-hero-bold{
    font-size: 18px;
    font-family: normaltext;
    font-weight:bolder;
    align-self: flex-end;
}

.yumin{
    max-height:400px;
    width:auto;
    align-self: center;
}

/*begin flexbox 4*/
.fb4{
    display:flex;
    justify-content: center;
    align-content:center;
    min-height: 500px;
    background: url(./Images/neonfutureinvitationimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fb4c{
    display:flex;
    justify-content: space-between;
    gap:14px;
    background-color: rgba(219,219,219,0.92);
    max-height:fit-content;
    margin: 200px 150px;
    border-radius: 8px;

}

.fb4ctxt{
    display:flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    padding:8px;
    font-family: normaltext;
}

.button2{
    justify-self: center;
    align-self: center;
    text-align:center;
    text-decoration: none;
    font-family: subtext;
    font-size:12px;
    font-weight: bold;
    max-width: 150px;
    max-height:40px;
    border-radius:6px;
    margin:8px;
}

.fb5{
    display:flex;
    background-color: #000;
    color: #fff;
    justify-content: center;
    box-shadow: 0 50vh 0 50vh #000;
}